@model SentimentAnalysis_Project.Models.Infk

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Infk</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusiAkredititmit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusiAkredititmit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VitiAkreditimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VitiAkreditimit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FakultetiDegaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FakultetiDegaNavigation.Dega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstitutiEmriNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstitutiEmriNavigation.Emri)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idinfk" />
        <input type="hidden" asp-for="InstitutiEmri" />
        <input type="hidden" asp-for="FakultetiDega" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
